body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: deeppink;
    margin: 0;
    padding: 0;
}
header ul li{
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}
header ul{
    background-color: deeppink;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}